# Dependencies
node_modules

# Build outputs
dist
build
.storybook-static

# Coverage
coverage

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
